body {
    background-color: #e0e0e0;
    font-family: Quicksand;
    font-size: 16px;font-style: normal;font-variant: normal;
    text-align: justify;
    color: white;
}
.header {
    display: inline-block;
    position: fixed;
}
.menu {
    background-color: #ef4c27;
    height: auto;
    width: 960px;
    padding: 15px 10px;
    margin-top: 22px;
    z-index: 99;
}
.logo {
    position: fixed;
    top: 0px; left: 0px;
}
.item_menu {
    display: inline-block;
    list-style: none;
    padding-right: 20px;
}
.main_block {
    width: 960px;
    display: inline-block;
    margin-top: 120px;
    background-color: darkorange; /* coloquei só para me localizar, devo retirar quando terminar */
}
.produto {
    border-style: dashed; /* coloquei só para me localizar, devo retirar quando terminar */
    border-color: black; /* coloquei só para me localizar, devo retirar quando terminar */
    display: inline-block;
    width: 283px;
    margin: 10px;
    text-align: center;
}
.flag {
    position: relative;
    top: 0px;
    right: 10px;
    float: right;
}
.nome_produto {
    width: 100%;
    background-color: gray;
    margin: 80px 0 30px 0;
    font-style: italic;
}
.botao {
    width: 35%;
    background-color: red;
    padding: 10px;
    position: relative;
    bottom: 10px;
    left: 92px;
}
* {
    box-sizing: border-box;
}