<div class="container mt-5 mb-5 pt-5" style="position: relative;">

    <form (ngSubmit)="cadastrarOuAtualizar()">
        <div class="form-row">
            <input 
            type="hidden" 
            name="id"
            [(ngModel)]="cliente.id" 
            />
            <div class="form-group col-md-6">
                <label for="nome">Nome</label>
                <input 
                    name="nome" 
                    type="text" 
                    class="form-control" 
                    [(ngModel)]="cliente.nome" 
                />
            </div>
            <div class="form-group col-md-6">
                <label for="sobrenome">Sobrenome</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="sobrenome" 
                    [(ngModel)]="cliente.sobrenome"                
                /> 
            </div>            
        </div>
        <div class="form-group" >
            <label for="nome">Foto</label>
            <p-fileUpload #upload
                name="demo[]" 
                chooseLabel="Escolher uma foto" 
                [showUploadButton]="false"
                [showCancelButton]="false"                
                [multiple]="false" 
                accept="image/*">               
            </p-fileUpload>
        </div>
        <div class="form-group">
            <label for="telefone">Telefone</label>
            <p-inputMask 
                styleClass="form-control" 
                name="telefone" 
                placeholder="(73) 95321-9875"
                [(ngModel)]="cliente.telefone" 
                mask="(99) 99999-9999">
            </p-inputMask>
        </div>        
        <div class="form-group">
            <label for="email">E-mail</label>
            <input 
            type="email" 
            class="form-control" 
            name="email" 
            [(ngModel)]="cliente.email" />
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="cpf">CPF</label>
                <input 
                type="text" 
                class="form-control" 
                name="cpf" 
                [(ngModel)]="cliente.cpf">
            </div>
            <div class="form-group col-md-4">
                <label for="rg">RG</label>
                <input 
                type="text" 
                class="form-control" 
                name="rg" 
                [(ngModel)]="cliente.rg">
            </div>
            <div class="form-group col-md-2">
                <label for="data_nasc">Data de Nascimento</label>
                <input 
                type="date" 
                class="form-control" 
                name="dataNasc" 
                [(ngModel)]="cliente.dataNasc">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="cep">CEP</label>
                <input 
                type="text" 
                class="form-control" 
                name="cep" 
                [(ngModel)]="cliente.endereco.cep">
            </div>
            <div class="form-group col-md-4">
                <label for="logradouro">Logradouro</label>
                <input 
                type="text" 
                class="form-control" 
                name="logradouro" 
                [(ngModel)]="cliente.endereco.logradouro">
            </div>
            <div class="form-group col-md-2">
                <label for="numero">Número</label>
                <input 
                type="text" 
                class="form-control" 
                name="numero" 
                [(ngModel)]="cliente.endereco.numero">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="complemento">Complemento</label>
                <input 
                type="text" 
                class="form-control" 
                name="complemento" 
                [(ngModel)]="cliente.endereco.complemento">
            </div>
            <div class="form-group col-md-6">
                <label for="bairro">Bairro</label>
                <input 
                type="text" 
                class="form-control" 
                name="bairro" 
                [(ngModel)]="cliente.endereco.bairro">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Estado</label>
                <p-dropdown 
                    [options]="estados"
                    [(ngModel)]="estado"
                    name="estado"  
                    optionLabel="nome"                                      
                    [filter]="true" 
                    [style]="{'width':'100%'}"
                    placeholder="Selecione um Estado" 
                    [showClear]="true"
                    (onChange)="listarCidades()">
                    <ng-template pTemplate="selectedItem">
                        <div *ngIf="estado">
                            <div>{{estado.nome}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="form-group col-md-6">
                <label for="">Cidade</label>
                <p-dropdown 
                    [options]="cidades" 
                    [disabled]="!estado"                    
                    [(ngModel)]="cidade" 
                    emptyFilterMessage="Nenhuma cidade cadastrada"
                    name="cidade"
                    optionLabel="nome"                     
                    [filter]="true" 
                    [style]="{'width':'100%'}">
                    <ng-template pTemplate="selectedItem">
                        <div *ngIf="cidade">
                            <div>{{cidade.nome}}</div>
                        </div>
                    </ng-template>                                      
                </p-dropdown>
            </div>
        </div>       
        <button type="submit" class="btn"
            [class]="operacao ? 'btn-primary' : 'btn-success'">{{ operacao ? "Cadastrar" : "Atualizar" }}
        </button>
        <br><br>
        <a routerLink="/listar/cliente">Voltar para a pesquisa</a>
    </form>
</div>
