<!-- <h1> Olá {{ nome }}. </h1>
<p>painel-agenda está funcionando!</p>
<br>
<input type="text" [(ngModel)]="nome"> -->
<!-- table>tr>th*3 // cria a tabela com 3 colunas de cabeçalhos -->
<!-- <table border="1">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Telefone</th>
    </tr>
    <tr *ngFor="let i of agenda">
        <td>{{i.id}}</td>
        <td>{{i.nome}}</td>
        <td>{{i.telefone}}</td>
    </tr>
</table> -->

<br>
<br>
<div class="content" role="main">
    <!-- <br>
    <p-panel header="agenda"[toggleable]="true">
        <div class="p-grid">
            <div class="p-col-2">Nome:</div>
            <div class="p-col-10">
                <input type="text" pInputText [(ngModel)]="contato.nome">
            </div>
            <div class="p-col-2">Telefone:</div>
            <div class="p-col-10">
                <input type="text" pInputText [(ngModel)]="contato.telefone">
            </div>
        </div>
        <div>
            <div class="col-12 p-offset-2">
                <button type="submit"
                [label]="operacao == true ? 'Adicionar' : 'Atualizar'"
                pButton
                (click)="inserirOuAtualizar()">
                </button>
            </div>
        </div>
    </p-panel> -->
    <p-panel header="agenda" [toggleable]="true">
        <div class="p-grid" style="margin: 0px 0px 10px 0px;">
            <span class="p-float-label" style="margin-right: 5px;">
                <input id="float-input" type="text" pInputText [(ngModel)]="contato.nome">
                <label for="float-input">Nome</label>
            </span>
            <span class="p-float-label">
                <p-inputMask [(ngModel)]="contato.telefone" mask="(99) 99999-9999"></p-inputMask>
                <!-- <input id="float-input" type="text" pInputText [(ngModel)]="contato.telefone"> -->
                <label for="float-input">Telefone</label>
            </span>
        </div>
        <div>
            <button type="submit"
            [label]="operacao == true ? 'Adicionar' : 'Atualizar'"
            pButton
            (click)="inserirOuAtualizar()">
            </button>
        </div>
    </p-panel>

    <br>
    <p-panel header="Contatos" [toggleable]="true">
        <div class="mt-5">
            <p-table [value]="agenda" 
            [paginator]="true"
            [rows]="5"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Exibindo de {first} até {last} do total de {totalRecords} contatos."
            [rowsPerPageOptions]="[5,10,15]">
                <ng-template pTemplate="header">
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Ações</th> <!-- Adiciona uma coluna com as ações possíveis para cada registro -->
                        <!-- Ações é coluna onde fica os botões de manipulação dos contatos-->
                        <!-- th =  table header -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-i> <!-- faz um For com cada elemento do array e coloca na variável "i" -->
                    <tr> <!-- tr = table row = linha da tabela -->
                        <td>{{i.id}}</td>
                        <td>{{i.nome}}</td>
                        <td>{{i.telefone}}</td>
                        <td class="p-grid"> <!-- title  = titulo (ou texto literal) geralmente usado para botões e images. Mas podem ser usados em outras tags também  -->
                            <p-button class="space-btn" (click)="editar(i)" icon="pi pi-pencil" [title]="'Editar contato ' + i.id"></p-button>
                            <p-button class="space-btn" (click)="excluir(i.id)" icon="pi pi-trash" title="Excluir"></p-button>
                        </td>
                        <!-- <td class="th-acoes">
                        <p-button (click)="editar(id)" style="margin: 0 10px;" icon="pi pi-pencil" [title]="'Editar contato ' + i.id"></p-button>
                        <p-button (click)="excluir(i.id)" style="margin: 0 10px;" icon="pi pi-trash" title="Excluir"></p-button>
                        </td> -->
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-panel>
</div>