<!-- <h1> Olá {{ nome }}. </h1>
<p>painel-agenda está funcionando!</p>
<br>
<input type="text" [(ngModel)]="nome"> -->
<!-- table>tr>th*3 // cria a tabela com 3 colunas de cabeçalhos -->
<table border="1">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Telefone</th>
    </tr>
    <tr *ngFor="let i of agenda">
        <td>{{i.id}}</td>
        <td>{{i.nome}}</td>
        <td>{{i.telefone}}</td>
    </tr>
</table>
<br>
<br>
<p-table [value]="agenda">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Telefone</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-i> <!-- faz um For com cada elemento do array e coloca na variável "i" -->
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.nome}}</td>
            <td>{{i.telefone}}</td>
        </tr>
    </ng-template>
</p-table>
